$navRightGap: 20px;
$navSideMargins: 10px;
$marginFromTop: 5px;

$primaryColor: #1C6758;
$secondaryColor: #3D8361;
$tertiaryColor: #D6CDA4;
$fourthColor: #EEF2E6;

$textColor: #EEF2E6;


nav{
    background-color: $primaryColor;
    color: $textColor;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #title{
        margin-top: $marginFromTop;
        margin-bottom: $marginFromTop;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: $navSideMargins;
    }

    #rightside{
        margin-top: $marginFromTop;
        margin-right: $navSideMargins;

        display: flex;
        flex-direction: row;
        justify-content: end;

        .rightButtons{
            color: $textColor;
            margin-top: $marginFromTop;
            margin-bottom: $marginFromTop;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: $navRightGap;
            padding-right: $navRightGap;
            
        }

        .rightButtons:hover{
            background-color: aliceblue;
            a{
                color: black;
            }
        }
    }
    a{
        color: $textColor;
    }
}